USE [master]
GO
/****** Object:  Database [Netpower]    Script Date: 2/19/2026 3:38:02 PM ******/
CREATE DATABASE [Netpower]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Netpower', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Netpower.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Netpower_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Netpower_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Netpower].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Netpower]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/19/2026 3:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/19/2026 3:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerNumber] [nvarchar](30) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[AddressLine1] [nvarchar](200) NULL,
	[AddressLine2] [nvarchar](200) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](30) NULL,
	[Country] [nvarchar](100) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAtUtc] [datetime2](3) NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/19/2026 3:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderNumber] [nvarchar](30) NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[OrderDateUtc] [datetime2](3) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAtUtc] [datetime2](3) NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([Id], [CustomerNumber], [FirstName], [LastName], [Email], [Phone], [AddressLine1], [AddressLine2], [City], [State], [PostalCode], [Country], [IsDeleted], [DeletedAtUtc], [CreatedAtUtc], [CreatedBy], [UpdatedAtUtc], [UpdatedBy]) VALUES (N'd3a9b6c1-9f2e-4e2a-9a6b-1a2b3c4d5e01', N'CUST-1001', N'Alice', N'Smith', N'alice.smith@example.com', N'+1-425-555-0101', N'101 First Ave', NULL, N'Seattle', N'WA', N'98101', N'USA', 0, NULL, CAST(N'2026-02-19T09:26:30.6950000' AS DateTime2), N'seed', NULL, NULL)
INSERT [dbo].[Customers] ([Id], [CustomerNumber], [FirstName], [LastName], [Email], [Phone], [AddressLine1], [AddressLine2], [City], [State], [PostalCode], [Country], [IsDeleted], [DeletedAtUtc], [CreatedAtUtc], [CreatedBy], [UpdatedAtUtc], [UpdatedBy]) VALUES (N'd3a9b6c1-9f2e-4e2a-9a6b-1a2b3c4d5e02', N'CUST-1002', N'Bob', N'Johnson', N'bob.johnson@example.com', N'+1-425-555-0102', N'202 Second St', NULL, N'Bellevue', N'WA', N'98004', N'USA', 0, NULL, CAST(N'2026-02-19T09:26:30.6950000' AS DateTime2), N'seed', NULL, NULL)
INSERT [dbo].[Customers] ([Id], [CustomerNumber], [FirstName], [LastName], [Email], [Phone], [AddressLine1], [AddressLine2], [City], [State], [PostalCode], [Country], [IsDeleted], [DeletedAtUtc], [CreatedAtUtc], [CreatedBy], [UpdatedAtUtc], [UpdatedBy]) VALUES (N'd3a9b6c1-9f2e-4e2a-9a6b-1a2b3c4d5e03', N'CUST-1003', N'Carol', N'Williams', N'carol.williams@example.com', N'+1-425-555-0103', N'303 Third Blvd', NULL, N'Redmond', N'WA', N'98052', N'USA', 0, NULL, CAST(N'2026-02-19T09:26:30.6950000' AS DateTime2), N'seed', NULL, NULL)
GO
INSERT [dbo].[Orders] ([Id], [OrderNumber], [CustomerId], [Status], [OrderDateUtc], [TotalAmount], [Notes], [IsDeleted], [DeletedAtUtc], [CreatedAtUtc], [CreatedBy], [UpdatedAtUtc], [UpdatedBy]) VALUES (N'c91111ff-8058-4714-9a01-1b414ddedecc', N'ORD-2005', N'd3a9b6c1-9f2e-4e2a-9a6b-1a2b3c4d5e04', 1, CAST(N'2026-02-19T09:26:30.7030000' AS DateTime2), CAST(250.00 AS Decimal(18, 2)), N'Gift', 0, NULL, CAST(N'2026-02-19T09:26:30.7030000' AS DateTime2), N'seed', NULL, NULL)
INSERT [dbo].[Orders] ([Id], [OrderNumber], [CustomerId], [Status], [OrderDateUtc], [TotalAmount], [Notes], [IsDeleted], [DeletedAtUtc], [CreatedAtUtc], [CreatedBy], [UpdatedAtUtc], [UpdatedBy]) VALUES (N'c1cf2475-c256-4a0b-96a4-295d0630785c', N'ORD-2010', N'd3a9b6c1-9f2e-4e2a-9a6b-1a2b3c4d5e09', 1, CAST(N'2026-02-19T09:26:30.7030000' AS DateTime2), CAST(5.00 AS Decimal(18, 2)), NULL, 0, NULL, CAST(N'2026-02-19T09:26:30.7030000' AS DateTime2), N'seed', NULL, NULL)
INSERT [dbo].[Orders] ([Id], [OrderNumber], [CustomerId], [Status], [OrderDateUtc], [TotalAmount], [Notes], [IsDeleted], [DeletedAtUtc], [CreatedAtUtc], [CreatedBy], [UpdatedAtUtc], [UpdatedBy]) VALUES (N'693c2c66-d93a-4b88-a05b-2c30bae6e8c7', N'ORD-2013', N'd3a9b6c1-9f2e-4e2a-9a6b-1a2b3c4d5e02', 1, CAST(N'2026-02-19T09:26:30.7030000' AS DateTime2), CAST(39.99 AS Decimal(18, 2)), NULL, 0, NULL, CAST(N'2026-02-19T09:26:30.7030000' AS DateTime2), N'seed', NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customers_CustomerNumber]    Script Date: 2/19/2026 3:38:02 PM ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [UQ_Customers_CustomerNumber] UNIQUE NONCLUSTERED 
(
	[CustomerNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customers_Email]    Script Date: 2/19/2026 3:38:02 PM ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [UQ_Customers_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_Email_IsDeleted]    Script Date: 2/19/2026 3:38:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_Email_IsDeleted] ON [dbo].[Customers]
(
	[Email] ASC
)
INCLUDE([FirstName],[LastName],[CustomerNumber]) 
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Orders_OrderNumber]    Script Date: 2/19/2026 3:38:02 PM ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [UQ_Orders_OrderNumber] UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerId_OrderDateUtc]    Script Date: 2/19/2026 3:38:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerId_OrderDateUtc] ON [dbo].[Orders]
(
	[CustomerId] ASC,
	[OrderDateUtc] DESC
)
INCLUDE([Status],[TotalAmount],[OrderNumber]) 
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_Status_OrderDateUtc]    Script Date: 2/19/2026 3:38:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Status_OrderDateUtc] ON [dbo].[Orders]
(
	[Status] ASC,
	[OrderDateUtc] DESC
)
INCLUDE([CustomerId],[TotalAmount],[OrderNumber]) 
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_TotalAmount_NonNegative] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_TotalAmount_NonNegative]
GO
USE [master]
GO
